/* Container for the entire application */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set container height to full viewport height */
    width: 100%;
  }
  

  
 
  /* Main content container */
  .main-content {
    display: flex;
    flex: 1;
  }
  
  /* Sidebar styles */
  .outlet{
    background-color: blue;
    height: 100%;
    width: 100%;
  }
  
  /* Main content styles */
  .main-content {
    flex: 1;
    padding: 20px;
  }
  